{% extends 'base.html' %}
{% load static %}
{% block base_head%}
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/breadcrumb.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}


{% include 'snippets/header.html' %}
{% include 'snippets/breadcrumb.html' with instance="Account" %}


<div class="login">
  <div class="login-form-left">
    {% include 'snippets/alert.html' %}

    <form action="" method="POST">
      {% csrf_token %}
      <h2 class="login-form-title">Set your Password</h2>
      <input name="new_password1" type="password" class="login-form-left-input" placeholder="Enter your new password" required>
      <input name="new_password2" type="password" class="login-form-left-input" placeholder="Confirm your password" required>
      <button class="news-button btn-login"><span>Set new password</span><span>&rarr;</button>
    </form>
  </div>

</div>
{% include 'snippets/footer.html' %}
{% endblock %}

