<div class="homepage-footer">
    <div class="contact">
      <h3>Contact us</h3>
      <p>Email: <a href="#">orders@hasbean.co.uk</a></p>
      <p>Hasbean</p>
      <p>Unit 16, Ladford Covert</p>
      <p>Ladfordfields Industrial Estate</p>
      <p>Stafford</p>
      <p>ST18 9QL</p>
      <p>United Kingdom</p>
    </div>
    <div class="follow">
      <h3>Follow us</h3>
      <span class="folow-icon">
        <a href="#" class="fa fa-twitter"></a>
      </span>
      <span class="folow-icon">
        <a href="#" class="fa fa-facebook"></a>
      </span>
      <span class="folow-icon">
        <a href="#" class="fa fa-instagram"></a>
      </span>
      <span class="folow-icon">
        <a href="#" class="fa fa-youtube"></a>
      </span>
    </div>
    <div class="newsletter">
      <h3>Newsletter</h3>
      <p>Want to stay up to date with Hasbean via our newsletter?</p>
      <p>To subscribe, enter your details below.</p>
      <form action="" class="newsletter-form">
        <input type="text" class="news-name" placeholder="First name" required>
        <input type="text"class="news-surname" placeholder="Last name" required>
        <input type="email" class="news-email" placeholder="Email" required>
        <button class="news-button"><span>Subscribe</span><span>&rarr;</button>
      </form>
    </div>
    <div class="policy">
      <div class="policy-span">
        <span>Copyright © 2020, Hascofee</span>
        <span>All rights reserved</span>
        <span><a href="#">Privacy policy</a></span>
        <span><a href="#">Terms and Conditions</a></span>
      </div>
      <div class="policy-bottom">
        hasbean.co.uk uses cookies to help us improve your experience. By continuing to browse you are agreeing to our <a href="#">use of cookies</a>. Mmm cookies.
      </div>
    </div>
  </div>