{% if headerstyle %}
<div class="homepage-header back-grey">
    <ul class="header-nav">
      <li class="header-item">Wholesale</li>
      <li class="header-item">Resources</li>
      <li class="header-item">Community</li>
      <li class="header-item">Contact</li>
      <li class="header-item">Help</li>
    </ul>
    <div class="header-right-block">
      <div class="right-block-accaout">Account</div>
      <div class="right-block-cart">Cart</div>
      <div class="right-block-form">
        <form action="">
            <input type="text">
          </form>
      </div>
    </div>
  </div>
  <div class="homepage-header-table">
    <div class="title">Hascoffee</div>
    <ul class="nav-link-main">
      <li class="nav-link">Coffee</li>
      <li class="nav-link">Subscriptions</li>
      <li class="nav-link">Equipment</li>
      <li class="nav-link">Merchandise</li>
      <li class="nav-link">Other drinks</li>
    </ul>
  </div>
  <div class="best-product">
    <h2>New coffee</h2>
    <strong>El mega coffee</strong>
    <p>Finca Las Brumas Washed SL28</p>
  </div>
  <a class="buy-button" href="#">Check it out <span>&rarr;</span></a>
</div>
{% else %}
<div class="homepage-header">
    <ul class="header-nav">
      <li class="header-item">Wholesale</li>
      <li class="header-item">Resources</li>
      <li class="header-item">Community</li>
      <li class="header-item">Contact</li>
      <li class="header-item">Help</li>
    </ul>
    <div class="header-right-block">
      <div class="right-block-accaout">Account</div>
      <div class="right-block-cart">Cart</div>
      <div class="right-block-form">
        <form action="">
            <input type="text">
          </form>
      </div>

    </div>
  </div>
  <div class="homepage-header-table">
    <div class="title">Hascoffee</div>
    <ul class="nav-link-main">
      <li class="nav-link">Coffee</li>
      <li class="nav-link">Subscriptions</li>
      <li class="nav-link">Equipment</li>
      <li class="nav-link">Merchandise</li>
      <li class="nav-link">Other drinks</li>
    </ul>
  </div>
  <div class="best-product">
    <h2>New coffee</h2>
    <strong>El mega coffee</strong>
    <p>Finca Las Brumas Washed SL28</p>
  </div>
  <a class="buy-button" href="#">Check it out <span>&rarr;</span></a>
</div>{% endif %}