{% extends 'base.html' %}
{% load static %}
{% block base_head%}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<div class="checkout-page">
    <div class="checkout-page-left">
        <div class="shipping-content">
            <div class="checkout-left-title">
                Hascoffee
            </div>
            <form action="">
            <div class="checkout-left-title-contact-info">
                <div class="contact-info">Contact information</div>
                <div class="contact-login">
                    <p>
                        <span>Already have an account? <a href="">Log in</a></span>
                    </p>

                </div>
            </div>

            <div class="notify">
                <input type="checkbox" name="" id="" style="margin-right: 1rem;"><span>Keep me up to date on news and exclusive offers</span>
            </div>

            <div class="checkout-shipping">
                <h2 class="shipping-title">
                    Shipping address
                </h2>
                <div class="input-group">
                    <input class="form-input" type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>First name</label>
                  </div>
                  <div class="input-group">
                    <input class="form-input" type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Last name</label>
                  </div>
                  <div class="input-group full-line">
                    <input class="form-input" type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Company</label>
                  </div>
                  <div class="input-group full-line">
                    <input class="form-input" type="password" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Address</label>
                  </div>
                  <div class="input-group full-line">
                    <input class="form-input" type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Apartment, suite, etc.(optional)</label>
                  </div>
                  <div class="input-group full-line">
                    <input class="form-input" type="password" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>City</label>
                  </div>
                  <div class="input-group">
                    <input class="form-input" type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>County/region</label>
                  </div>
                  <div class="input-group">
                    <input class="form-input" type="password" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Postcode</label>
                  </div>
                  <div class="input-group full-line">
                    <input class="form-input" type="password" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Phone(optional)</label>
                  </div>
            </div>
            <div class="shopping-footer">
                
                <a href="{% url 'carts:cart' %}" class="return-link">&lt; Return to cart</a>
                <button class="news-button">
                    Continue to shopping
                </button>
            </div>
            </form>
        </div>
    </div>
    <div class="checkout-page-right">1</div>
</div>
{% endblock %}