{% extends 'base.html' %}
{% load static %}
{% block base_head%}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<form id="logoutform" action="{% url 'logout' %}" method="POST">
  {% csrf_token %}
</form>
<div class="checkout-page">
    <div class="checkout-page-left">
        <div class="shipping-content">
            <div class="checkout-left-title">
                Hascoffee
            </div>
            <form action="{% url 'carts:checkout_shipping' %}" method="POST">
              {% csrf_token %}
            <div class="checkout-left-title-contact-info">
                <div class="contact-info">Contact information</div>
                {% if request.user.is_authenticated %}
                {% else %}
                <div class="contact-login">
                  <p>
                      <span>Already have an account? <a class="login_link" href="{% url 'login' %}">Log in</a></span>
                  </p>
              </div>
              {% endif %}
            </div>
            {% include 'snippets/alert.html' %}
            {% if request.user.is_authenticated %}
            <div class="user-logged">
              <div class="user-logged-img">
                <img class="user-img" src="{% static 'img/user.png' %}" alt="" srcset="">
              </div>
              <div class="user-logged-content">
                {{request.user.first_name}} {{request.user.last_name}} ({{request.user.email}})
                      <input type="hidden" name='next' value='{% url "carts:checkout_home" %}' form="logoutform">
                      <button class="checkout-logout-button" form="logoutform">Logout</button>
              </div>
            </div>
            {% else %}
            <div class="input-group full-line email-form">
              <input class="form-input" name="guest_email" type="text" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Email</label>
            </div>
            {% endif %}

            <div class="notify">
                <input type="checkbox" name="" id="" style="margin-right: 1rem;"><span style="font-size: 1.5rem;">Keep me up to date on news and exclusive offers</span>
            </div>
            <div class="checkout-shipping">
                <h2 class="shipping-title">
                    Shipping address
                </h2>
                {% if user.is_authenticated%}
                <input type="hidden" name="email" value="{{request.user.email}}">
                {% endif %}
                <div class="input-group">
                    <input class="form-input" type="text" name='first_name' required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>First name</label>
                  </div>
                  <div class="input-group">
                    <input class="form-input" type="text"  name='last_name' required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Last name</label>
                  </div>
                  <div class="input-group full-line" name='company'>
                    <input class="form-input" type="text" >
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Company (optional)</label>
                  </div>
                  <div class="input-group full-line">
                    <input class="form-input" type="text" name='address' required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Address</label>
                  </div>
                  <div class="input-group full-line">
                    <input class="form-input" type="text" name='apartment'>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Apartment, suite, etc.(optional)</label>
                  </div>
                  <div class="input-group full-line" name='city'>
                    <input class="form-input" type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>City</label>
                  </div>
                  <div class="input-group">
                    <input class="form-input" type="text" name='county' required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>County/region</label>
                  </div>
                  <div class="input-group">
                    <input class="form-input" type="text" name='post_code' required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Postcode</label>
                  </div>
                  <div class="input-group full-line" name='phone'>
                    <input class="form-input" type="text" >
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Phone(optional)</label>
                  </div>
            </div>
            <div class="shopping-footer">
                <a href="{% url 'carts:cart' %}" class="return-link">&lt; Return to cart</a>
                <button class="news-button">
                    Continue to shopping
                </button>
            </div>
            </form>
        </div>
    </div>
    <div class="checkout-page-right">
      <div class="checkout-page-wrap">
        <div class="checkout-products">
          {% for cart_item in cart_items %}
          <div class="checkout-single-product">
              <div class="product-img">
                <img src="{{cart_item.product.photo_main.url}}" alt="" srcset="">
                <div class="img-number"><span class="img-span">{{cart_item.quantity}}</span></div>
              </div>
              <div class="product-title">
                {{cart_item.product.title}}
              </div>
              <div class="product-price">
                £{{cart_item.line_total}}
              </div>
          </div>
          {% endfor %}
        </div>
        <div class="total-sum">
          <div class="checkout-total">
            <span style="color: white; font-size: 1.5rem">Subtotal:</span>
            <span style="color: white; font-size: 1.5rem">£{{cart.total}}</span>
          </div>
          <div class="checkout-total">
            <span style="color: white; font-size: 1.5rem">Shipping:</span>
            <span style="color: white; font-size: 1.5rem">£{{order.shipping_total}}</span>
          </div>
          <div class="checkout-total">
            <span style="color: white; font-size: 2rem">Total:</span>
            <span style="color: white; font-size: 2.5rem">£{{order.total}}</span>
          </div>
        </div>

      </div>
    </div>
</div>
{% endblock %}