{% extends 'base.html' %}
{% load static %}
{% block base_head%}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/breadcrumb.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/button.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}


{% include 'snippets/header.html' %}
{% include 'snippets/breadcrumb.html' with instance="Account" %}


<div class="login">
  <div class="login-form-left">
    {% include 'snippets/alert.html' %}

    <form form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <h2 class="login-form-title">Login</h2>
      <input name="email" type="email" value="{{account.email}}" class="login-form-left-input" placeholder="Email" required>
      <input name="password" type="password" class="login-form-left-input" placeholder="Password" required>
      <button class="news-button btn-login"><span>Login</span><span>&rarr;</button>
    </form>
  </div>
  <div class="login-form-right">
    <h2 class="login-form-title">Create account</h2>
    <p>
      There's no need to create an account before shopping with us if you don't want to, but if you'd like to you can create one by clicking the link below.
    </p>
    <a class="buy-button" href="{% url 'register' %}">Create account <span>&rarr;</span></a>

  </div>
</div>
{% include 'snippets/footer.html' %}




{% endblock %}