.breadcrumb {
    background-color: white;
    margin-top: 4rem;
    font-size: 2rem;
    margin: 0 30rem 3rem 30rem;
}

.breadcrumb-item a {
    color: #e20613;
    text-decoration: none;
    font-weight: bolder;
}

.breadcrumb-item :hover {
    color: #e20613;
    text-decoration: none;
    filter: brightness(150%);
}