.homepage-footer {
    display: grid;
    height: 55rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem 0;
    margin: 0 30rem;
    border-top: 1px solid #dddddd;
    margin-top: 5rem;
}

.contact {
    grid-column: 1 / 2;
}

.contact h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;

}

.contact p {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    color: rgb(66, 58, 58);

}

.contact a {
    color: #e20613;
}

.contact a:hover {
    color: #e6414c;
    text-decoration: none;
}

.follow {
    grid-column: 2 / 3;
}

.follow h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.fa {
    font-size: 30px !important;
    text-decoration: none;
    width: 4rem;
    height: 4rem;
    text-align: center;
    border-radius: 4px;
    margin-left: 1rem;
    padding-top: 1%;
}

.fa:hover {
    text-decoration: none;
    color: white;
    filter: brightness(130%);
}

.fa-facebook {
    background: #e20613;
    color: white;
    font-size: 3rem;
}

.fa-youtube {
    background: #e20613;
    color: white;
  }

.fa-instagram {
    background: #e20613;
    color: white;
}

.fa-twitter {
    background: #e20613;
    color: white;
}

.nesletter {
    grid-column: 3 / 4;
}

.policy {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.newsletter h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.newsletter p {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    color: rgb(66, 58, 58);
}

.newsletter-form {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    font-size: 1.4rem;
    margin-top: 2rem;
}

.news-name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 3rem;
}

.news-surname {
    grid-column: 2 /3;
    grid-row: 1 / 2;
    height: 3rem;

}

.news-email {
    grid-column: 1 / 3;
    height: 3rem;

}

.news-button {
    border: none;
    font-size: 1.6rem;
    padding: 1.5rem;
    color: white;
    border-radius: 3px;
    display: block;
    background-color: #e83b45;
    text-decoration: none;
    justify-self: start;
    width: 20rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.policy {
    font-size: 1.6rem;
    color: #626262;
}

.policy-span {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: repeat(4, max-content);
    border-top: 1px solid #dddddd;
    padding-top: 4rem;
    margin-top: 2rem;
}

.policy-span a {
    color: #e83b45;
    text-decoration: none;
    justify-self: start;
    font-weight: bolder;
}

.poolicy-span a:hover {
    text-decoration: none;
    filter: brightness(130%);
    color: white;
}

.policy-bottom a {
    color: #e83b45;
    text-decoration: none;
    justify-self: start;
    font-weight: bolder;
}

.policy-bottom a:hover {
    text-decoration: none;
    filter: brightness(130%);
}

@media only screen and (max-width: 1550px) {
    .homepage-footer {
        margin: 0 5rem;
    }
  }

  @media only screen and (max-width: 850px) {
    .homepage-footer {
        margin: 5rem;
    }
  }

  @media only screen and (max-width: 700px) {
    .contact {
        grid-column: 1 / 3;
    }
    .follow {
        grid-column: 3 / 4;
    }
    .newsletter {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        justify-self: center;
    }
    .policy {
        grid-row: 3 / 4;
    }
  }

  @media only screen and (max-width: 600px) {

    .policy-span {
        grid-template-rows: repeat(4, 1fr);
    }
    .policy-span span{
        grid-column: 1 / -1;
    }
  }