.homepage-header {
    margin: 0 30rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 5rem;

}

.homepage {
    z-index: 500;
    font-weight: bold;
}


.header-nav {
    font-size: 1.4rem;
    list-style: none;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-gap: 4rem;
    justify-content: start;
    align-items: center;
}

.header-right-block {
    font-size: 1.4rem;
    grid-column: 5 / 9;
    display: grid;
    grid-template-columns: max-content 10rem 1fr;
    justify-self: end;
    align-items: center;
    grid-column-gap: 2rem;
}

.fa-shopping-cart {
    border: none;
}


.homepage-header-table {
    margin: 4.8em 30rem 0 30rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 2.3rem;
    margin-bottom: 3rem;

}

.title {
    grid-column: 1 / 4;
    font-size: 4rem;
    text-transform: uppercase;
}

.nav-link-main {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    font-size: 2rem;
    grid-column: 4 / 9;
    justify-content: end;
    font-weight: bolder;
}


.nav-link-normal a {
    color: white;
    padding: 1.5rem;

}

.nav-link-normal a:hover {
    color: #e83b45;
    background-color: white;
    text-decoration: none;
    padding: 1.5rem;
}


.nav-link-grey a {
    color: #505050;
    padding: 1.5rem;

}

.nav-link-grey a:hover {
    color: white;
    background-color: #e83b45;
    text-decoration: none;
    padding: 1.5rem;
}

.back-grey {
    background-color: #f6f6f6;
    margin: 0;
    padding: 0 30rem;
    color: #8a8a8a;
}

.title-grey a{
    color: #e20613;
}

.title-grey a:hover{
    color: #e20613;
    text-decoration: none;
}

.link-grey {
    color: #505050;
}

.header-right-block a {
    color: #8a8a8a;
}

.header-right-block a:hover {
    color: #8a8a8a;
    text-decoration: none;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.active-header a {
    color: #e20613;
    border-bottom: 2px solid #e20613;
}


