.homepage-header {
    margin: 0 30rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 5rem;
    align-items: center;
}

.homepage {
    z-index: 500;
    font-weight: bold;
}


.header-nav {
    font-size: 1.4rem;
    list-style: none;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-gap: 4rem;
    justify-content: start;
    align-items: center;
    margin-bottom: 0;
}

.header-right-block {
    font-size: 1.4rem;
    grid-column: 5 / 9;
    display: grid;
    grid-template-columns: max-content 10rem 1fr;
    justify-self: end;
    align-items: center;
    grid-column-gap: 2rem;
}

.fa-shopping-cart {
    border: none;
}


.homepage-header-table {
    margin: 4.8em 30rem 0 30rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 2.3rem;
    margin-bottom: 3rem;

}

.title {
    font-size: 4rem;
    text-transform: uppercase;
}

.nav-link-main {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    font-size: 2rem;
    grid-column: 2 / 9;
    justify-content: end;
    font-weight: bolder;
}


.nav-link-normal a {
    color: white;
    padding: 1.5rem;

}

.nav-link-normal a:hover {
    color: #e83b45;
    background-color: white;
    text-decoration: none;
    padding: 1.5rem;
}


.nav-link-grey a {
    color: #505050;
    padding: 1.5rem;

}

.nav-link-grey a:hover {
    color: white;
    background-color: #e83b45;
    text-decoration: none;
    padding: 1.5rem;
}

.back-grey {
    background-color: #f6f6f6;
    margin: 0;
    padding: 0 30rem;
    color: #8a8a8a;
}

.title-grey a{
    color: #e20613;
}

.title-grey a:hover{
    color: #e20613;
    text-decoration: none;
}

.link-grey {
    color: #505050;
}

.header-right-block a {
    color: #8a8a8a;
}

.header-right-block a:hover {
    color: #8a8a8a;
    text-decoration: none;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.active-header a {
    color: #e20613;
    border-bottom: 2px solid #e20613;
}


@media only screen and (max-width: 1550px) {
    .homepage-header {
      padding: 0 5rem;
    }

    .homepage-header-table {
        margin: 0 5rem;
    }
  }

  @media only screen and (max-width: 850px) {
    .homepage-header {
      padding: 0 5rem;
    }

    .homepage-header-table {
        margin: 0;
    }
  }

  @media only screen and (max-width: 785px) {
    .nav-link-main {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        font-size: 2rem;
        grid-column: 1 / 9;
        justify-content: start;
        font-weight: bolder;
    }
    .title-grey {
        justify-self: center;
        grid-column: 1 / -1;
    }
}

@media only screen and (max-width: 750px) {
    .header-right-block {
        grid-column: 1 / 9;
        grid-row: 2 / 3;
        justify-self: start;
    }
    .homepage-header {
        height: 8rem;
        padding: 0 2rem;

    }
  }

  @media only screen and (max-width: 680px) {
    .nav-main-link {
        grid-template-columns: repeat(5, min-content);
        grid-template-rows: repeat(5, min-content);

    }
    .nav-link-grey {
        grid-column: 1 / -1;
    }
}