dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

.carousel-item img {
    height: 85vh;


}

.carousel.slide {
    margin: 0 2.5rem;
}

.homepage-header {
    margin: 0 30rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 5rem;

}

.homepage {
    position: relative;
    z-index: 500;
    font-weight: bold;
}


.header-nav {
    font-size: 1.4rem;
    list-style: none;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-gap: 4rem;
    justify-content: start;
    align-items: center;
}

.header-right-block {
    font-size: 1.4rem;
    grid-column: 5 / 9;

    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: end;
    align-items: center;

    grid-gap: 4rem;
}


.homepage-header-table {
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    margin: 0 30rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 2.3rem;
}

.title {
    grid-column: 1 / 4;
    font-size: 4rem;
    text-transform: uppercase;
}

.nav-link-main {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    font-size: 2rem;
    grid-column: 4 / 9;
    justify-content: end;
    font-weight: bolder;
}


.nav-link-normal a {
    color: white;
    padding: 1.5rem;

}

.nav-link-normal a:hover {
    color: #e83b45;
    background-color: white;
    text-decoration: none;
    padding: 1.5rem;
}


.nav-link-grey a {
    color: #505050;
    padding: 1.5rem;

}

.nav-link-grey a:hover {
    color: white;
    background-color: #e83b45;
    text-decoration: none;
    padding: 1.5rem;
}

.best-product {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 30rem;
    color: white;
}

.best-product h2 {
    text-transform: uppercase;
}

.best-product strong, p {
    font-size: 3rem;
}

.buy-button {
    position: absolute;
    top: 68%;
    right: 0;
    left: 0;
    margin: 0 30rem;
    border: none;
    font-size: 1.5rem;
    padding: 1.5rem;
    color: #e83b45;
    border-radius: 3px;
    display: block;
    background-color: white;
    text-decoration: none;
    width: 15rem;
}

.buy-button:hover {
    background-color: #e83b45;
    color: white;
    text-decoration: none;

}

.buy-button span {
    margin-left: 1rem;
}

.new-section {
    height: 55rem;
    margin: 3rem 25rem 0 25rem;
}

.new-section h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: #e20613;

}

.product-list-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    grid-gap: 2.6rem;
}

.product {
    cursor: pointer;
    height: 37rem;
}

.product a {
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

.product-title:hover {
    color: #e20613;
}

.product-pic {
    height: 20rem;
    width: 100%;
}

.product-pic:hover {
    filter: brightness(110%);
}

.product-pic img{
    width: 100%;
    height: 100%;
}

.product-content {
    font-size: 1.5rem;
}

.product-price {
    font-size: 2rem;
}

.subscription-section {
    height: 60rem;
    background-color: #fce8e3;
    display: grid;
    margin-bottom: 4rem;
}

.subscription {
    margin: 0 15rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #e20613;
}

.subs-feature {
    display: grid;
    grid-gap: 1rem;
    justify-content: center;
    align-content: center;
}

.subs-feature h2 {
    font-weight: 400;
    font-size: 3.4rem;
}

.subs-feature p {
    font-size: 2rem;
}

.subs-a {
    font-size: 2rem;
    color: #e83b45;
}

.subs-a:hover {
    font-size: 2rem;
    color: #e83b45;
    filter: brightness(130%);

}

.subs-button {
    margin-top: 2rem;
    border: none;
    font-size: 1.5rem;
    padding: 1.5rem;
    color: white;
    border-radius: 3px;
    display: block;
    background-color: #e83b45;
    text-decoration: none;
    justify-self: start;
}

.subs-button:hover {
    text-decoration: none;
    filter: brightness(130%);
    color: white;
}

.icon img {
    height: 40rem;
}

.new-grid {
    grid-template-columns: repeat(5, 1fr);
}

.mt-3 {
    margin-top: 4rem;
}

.small-height {
    height: 25rem;
}

.about-us {
    background-color: #e20613;
}

.about-us > * {
    color: white !important;

}

.coffee-img img {
    height: 30rem;
}

.about-subs {
    padding: 0 15rem;
}

.homepage-footer {
    display: grid;
    height: 55rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem 0;
}

.contact {
    grid-column: 1 / 2;
}

.contact h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;

}

.contact p {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    color: rgb(66, 58, 58);

}

.contact a {
    color: #e20613;
}

.contact a:hover {
    color: #e6414c;
    text-decoration: none;
}

.follow {
    grid-column: 2 / 3;
}

.follow h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.fa {
    font-size: 30px !important;
    text-decoration: none;
    width: 4rem;
    height: 4rem;
    text-align: center;
    border-radius: 4px;
    margin-left: 1rem;
    padding-top: 1%;
}

.fa:hover {
    text-decoration: none;
    color: white;
    filter: brightness(130%);
}

.fa-facebook {
    background: #e20613;
    color: white;
    font-size: 3rem;
}

.fa-youtube {
    background: #e20613;
    color: white;
  }

.fa-instagram {
    background: #e20613;
    color: white;
}

.fa-twitter {
    background: #e20613;
    color: white;
}

.nesletter {
    grid-column: 3 / 4;
}

.policy {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.newsletter h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.newsletter p {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    color: rgb(66, 58, 58);
}

.newsletter-form {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    font-size: 1.4rem;
    margin-top: 2rem;
}

.news-name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 3rem;
}

.news-surname {
    grid-column: 2 /3;
    grid-row: 1 / 2;
    height: 3rem;

}

.news-email {
    grid-column: 1 / 3;
    height: 3rem;

}

.news-button {
    border: none;
    font-size: 1.6rem;
    padding: 1.5rem;
    color: white;
    border-radius: 3px;
    display: block;
    background-color: #e83b45;
    text-decoration: none;
    justify-self: start;
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

.policy {
    font-size: 1.6rem;
    color: #626262;
}

.policy-span {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: repeat(4, max-content);
    border-top: 1px solid #dddddd;
    padding-top: 4rem;
    margin-top: 2rem;
}

.policy-span a {
    color: #e83b45;
    text-decoration: none;
    justify-self: start;
    font-weight: bolder;
}

.poolicy-span a:hover {
    text-decoration: none;
    filter: brightness(130%);
    color: white;
}

.policy-bottom a {
    color: #e83b45;
    text-decoration: none;
    justify-self: start;
    font-weight: bolder;
}

.policy-bottom a:hover {
    text-decoration: none;
    filter: brightness(130%);
    color: white;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.carousel-indicators {
    justify-content: start;
    margin-left: 5rem;
}

.small {
    height: 25rem;
}

.header-right-block a {
    color: white;
}

.header-right-block a:hover {
    color: white;
    text-decoration: none;
}